# ------------------------------
# macOS
# ------------------------------

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

/.vscode
/.fleet
/.idea
/target
/.cargo
/temp
/.data

node_modules/
wasm/
*.wasm
*.js

**/public/assets/

/docs/public/wasm/*
